*{
  margin:0;
  padding:0;
}

header{
  background-color:#00122e;
  border-bottom: 4px solid #009999;
  font-family:'Slabo 27px', serif;
  color:#fff;
  text-align:center;
  padding:20px;
}

header h1{
  font-size:40px;
}

header p{
  font-size:20px;
}

body{
  background-color:#000;
}

main{
  color:#fff;
  font-family:'Slabo 27px', serif;
  margin:10px;
  text-align:center;
}

main section h3{
  font-size:25px;
  margin-bottom:15px;
  text-align:center;
  letter-spacing:1px;
}

main section p{
  font-size:20px;
  font-weight:100;
}
